body {
  background: #F7F8F8;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ACBB78, #F7F8F8);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ACBB78, #F7F8F8);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.centered {
  padding-top: 90px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #323232;
}

.lottie-player {
  margin: 0 auto !important;
}

.lottie {
  padding-bottom: 20px;
}

.jumbotron {
  background: #F7F8F8;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ACBB78, #F7F8F8);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ACBB78, #F7F8F8);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
